/bin
/obj
/.vs
/NapCatSprcit/obj
/NapCatSprcit/bin
/NapCatSprcit/.vs
/Start/bin
/Start/obj
/MesgHandle/bin
/NapCatScript.Tool/obj
/NapCatScript.Tool/bin
/Start/Properties
/NapCatScript.Model/obj
/NapCatScript.JsonFromat/obj
/NapCatScript.MesgHandle/bin
/NapCatScript.MesgHandle/obj
/NapCatScript.Model/bin
/NapCatScript.Services/bin
/NapCatScript.JsonFromat/bin
/NapCatScript.Services/obj
/TestPlugin/obj
/TestPlugin/bin
/NapCatScript.Core/obj
/NapCatScript.Core/bin
/NapCatScript.Core/bin
